In [1]:
import numpy as np
import pandas as pd
import spacy

In [2]:
df_tag = pd.read_csv('C:/Users/jcrig/Documents/FORMATION_SORBONNE/Machine_Learning_2_Faik/grand_projet_ML/input_data/tag.csv', delimiter=',')
df_tag.head(16)

    userId  movieId                tag            timestamp
0       18     4141        Mark Waters  2009-04-24 18:19:40
1       65      208          dark hero  2013-05-10 01:41:18
2       65      353          dark hero  2013-05-10 01:41:19
3       65      521      noir thriller  2013-05-10 01:39:43
4       65      592          dark hero  2013-05-10 01:41:18
5       65      668          bollywood  2013-05-10 01:37:56
6       65      898   screwball comedy  2013-05-10 01:42:40
7       65     1248      noir thriller  2013-05-10 01:39:43
8       65     1391               mars  2013-05-10 01:40:55
9       65     1617           neo-noir  2013-05-10 01:43:37
10      65     1694              jesus  2013-05-10 01:38:45
11      65     1783      noir thriller  2013-05-10 01:39:43
12      65     2022              jesus  2013-05-10 01:38:45
13      65     2193             dragon  2013-05-10 02:01:54
14      65     2353  conspiracy theory  2013-05-10 02:01:06
15      65     2662               mars  2013-05-10 01:40:55

In [6]:
df_tag.shape

(465564, 4)

In [11]:
import nltk
nltk.download('names')

[nltk_data] Downloading package names to
[nltk_data]     C:\Users\jcrig\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\names.zip.

True

In [14]:
# Get a set of common names
name_set = set(names.words())

def remove_names(tags):
    return ' '.join([tag for tag in str(tags.split()) if tag.lower() not in name_set])

# Apply to your dataframe
df_tag['tag'] = df_tag['tag'].apply(remove_names)
df_tag.head(20)

AttributeError: 'float' object has no attribute 'split'

In [ ]:
# Load the English NER model
nlp = spacy.load("en_core_web_sm")

def is_name(tag):
          doc = nlp(tag)
          for ent in doc.ents:
              if ent.label_ == "PERSON":
                  return True
          return False

# Apply to your dataframe
df_tag['is_name'] = df_tag['tag'].apply(is_name)

# Remove name tags
df_tag['tags'] = df.apply(lambda row: ' '.join([tag for tag in row['tag'].split() if not is_name(tag)]), axis=1)
df_tag.head(16)