In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('input_data\\rating.csv')

In [3]:
df['userId'] = df['userId'].astype('int32')
df['movieId'] = df['movieId'].astype('int32')
df['rating'] = df['rating'].astype('float32')

df.drop(['timestamp'], axis=1, inplace=True)
df.head(2)

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5

In [4]:
user_splits = np.array_split(df['userId'].unique(), 10)

df_pivot_list = []
for split in user_splits:
    df_subset = df[df['userId'].isin(split)]
    df_pivot_subset = pd.pivot_table(df_subset, values='rating', index='userId', columns='movieId')
    df_pivot_subset = df_pivot_subset.map(lambda x: 1 if x >= 3 else 0)
    df_pivot_list.append(df_pivot_subset)
    print("Hello Round !")
df_pivot = pd.concat(df_pivot_list)

Hello Round !
Hello Round !
Hello Round !
Hello Round !
Hello Round !
Hello Round !
Hello Round !
Hello Round !
Hello Round !
Hello Round !

In [5]:
df_pivot = df_pivot.fillna(0).astype('int8')

##### Matrice binaire de tous les rating >= 3

In [6]:
df_pivot.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,130586,130604,130614,130622,130656,130828,131110,131172,131237,131262
userId,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0