In [1]:
# Importing necessary libraries
import nltk
from nltk.data import find
import gensim

# Downloading required NLTK resources
nltk.download('punkt')  # Downloading tokenizers for NLTK
nltk.download('word2vec_sample')  # Downloading the word2vec sample model

# Finding the path of the pre-trained word2vec model
word2vec_sample = str(find('models/word2vec_sample/pruned.word2vec.txt'))

# Loading the pre-trained word2vec model using Gensim
model = gensim.models.KeyedVectors.load_word2vec_format(word2vec_sample, binary=False)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jcrig\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package word2vec_sample to
[nltk_data]     C:\Users\jcrig\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping models\word2vec_sample.zip.

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('output_data\\384k_tags_wo_names.csv')

In [5]:
df.head(5)

   Unnamed: 0  userId  movieId            tag   age
0           1      65      208      dark hero  11.0
1           2      65      353      dark hero  11.0
2           3      65      521  noir thriller  11.0
3           4      65      592      dark hero  11.0
4           5      65      668      bollywood  11.0

In [17]:
# Fonction pour vectoriser les mots d'une tag
def vectorize_tag(tag, model):
    vectors = []
    for word in tag.split():
        if word in model:
            vectors.append(model[word])
        else:
            return np.nan  # Retourne NaN si un mot n'est pas reconnu
    return np.sum(vectors, axis=0)  # Somme des vecteurs pour chaque tag

# Appliquer la fonction de vectorisation
df['vector'] = df['tag'].apply(lambda x: vectorize_tag(x, model))

# Supprimer les lignes où le vector est NaN (c'est-à-dire les lignes avec des mots non reconnus)
df.dropna(subset=['vector'], inplace=True)
df.head(5)

,Unnamed: 0,userId,movieId,tag,age,vector
0,1,65,208,dark hero,11.0,"[0.1728352, 0.110455096, 0.1315891, -0.0210759..."
1,2,65,353,dark hero,11.0,"[0.1728352, 0.110455096, 0.1315891, -0.0210759..."
3,4,65,592,dark hero,11.0,"[0.1728352, 0.110455096, 0.1315891, -0.0210759..."
5,6,65,898,screwball comedy,11.0,"[0.059081092, -0.037012, 0.030395936, 0.240585..."
7,8,65,1391,mars,11.0,"[0.00196312, 0.0980603, 0.0234936, -0.0271964,..."

In [ ]:
model["jesus"][:8]
#le modele ne comprend pas les nom propres il faut eliminer ces mots, c'est du bruit

In [24]:
df.shape

(237008, 6)